:root {
  --r-background-color: #fff;
  --r-main-font: Mukta, serif, Source Sans Pro, sans-serif;
  --r-main-color: #4d4753;
  --r-heading-font: Mukta, serif, Source Sans Pro, sans-serif;
  --r-heading-color: #1D3461;
  --r-heading-font-weight: 600;
  --r-subheading-color: #938F98;
  --r-subheading-font-weight: 500;
  --r-main-font-size: 36px;
  --r-heading-letter-spacing: -2px;
  --r-heading-text-transform: none;
  --r-code-font: "Liga Consolas", Consolas, monospace;
  --r-link-color: #1F487E;
  --r-link-color-dark: #1D3461;
  --r-link-color-hover: #247BA0;
}
.reveal .slides {
  text-align: left;
  font-weight: 300;
  letter-spacing: -1px;
}
.reveal pre {
  margin-left: 0;
}
.reveal blockquote {
  margin-left: 0;
  padding: 10px 15px;
  background: #fdfdfd;
  color: #666;
}
.reveal blockquote > cite {
  color: #aaa;
}
#profile-pic {
  margin: 0 auto;
  max-width: 200px;
  border-radius: 50%;
}
#profile-pic + h4 {
  font-size: 0.8em;
}
.about-me-links {
  padding: 24px 0;
}
.about-me-links p {
  margin: 0;
  line-height: 1;
}
.about-me-links p + a {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.h1 {
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  font-size: var(--r-heading1-size);
  color: var(--r-heading-color);
}
.h2 {
  font-size: var(--r-heading2-size) !important;
}
h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle,
h6.subtitle {
  color: #777;
  margin-bottom: 0;
}
h1.subtitle {
  font-size: calc(0.4 * var(--r-heading1-size));
}
h3.subtitle {
  font-size: calc(0.8 * var(--r-heading3-size));
}
h4.subtitle {
  font-size: calc(0.8 * var(--r-heading4-size));
}
h5.subtitle {
  font-size: calc(0.75 * var(--r-heading4-size));
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  /*font-variant: small-caps;*/
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.smallest {
  font-size: 0.6em;
}
.small {
  font-size: 0.7em;
}
.smaller {
  font-size: 0.85em;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
ul.margin > li {
  margin-bottom: 1em
}
ul.inline {
  margin-left: 0;
  list-style-type: none;
}
ul.inline > li {
  float: left;
}
ul.inline > li.clear-left {
  clear: left;
}
.invisible {
  display: none;
}
